:root {
   --color-primary: #fff;
   --color-gold: #bdae82;
   --color-black: #000;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   list-style: none;
}

html {
   scroll-behavior: smooth;
}

body {
   min-width: 320px;
   background-color: var(--color-black);
   font-family: "Inter", sans-serif;
   font-size: 18px;
   line-height: 2;
   color: var(--color-primary);
}

.header {
   width: 100%;
   background-color: var(--color-black);
   margin: 0 auto;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 20px;
}

.header-container {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   padding-right: 120px;
   background: url("./assets/img/header-bg.jpg");
   background-repeat: no-repeat;
   background-position: center 0;
}

.logo {
   width: 50px;
   height: 50px;
   background-image: url("./assets/svg/logo.svg");
   background-size: contain;
   background-repeat: no-repeat;
   transition: 0.3s;
}

.logo:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
}

.nav {
   margin-left: auto;
}

.nav__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
}

.nav__link {
   display: block;
   list-style: 50px;
   padding: 0 30px;
   color: var(--color-primary);
   font-size: 20px;
   line-height: 50px;
   text-decoration: none;
   transition: 0.3s;
}

.nav__link:last-child {
   padding-right: 0;
}

.nav__link:hover {
   color: var(--color-gold);
}

.lang-switcher {
   position: absolute;
   right: 20px;
   top: 20px;
   font-size: 20px;
   line-height: 50px;
}

.lang-switcher__item {
   display: inline-block;
   min-width: 15px;
   text-align: center;
   font-weight: 700;
   cursor: pointer;
   transition: 0.3s;
}

.en:hover,
.ru:hover {
   text-shadow: 3px 3px 5px red;
}

.lang-switcher__item-active {
   color: var(--color-gold);
}

.lang-switcher__item-active:hover {
   color: var(--color-gold);
}

.hero {
   background-color: var(--color-black);
   color: var(--color-primary);
   margin: 0 auto;
   transition: 1s;
}

.hero .container {
   height: 820px;
   padding-top: 160px;
   background-image: url("./assets/img/header-bg.jpg");
   background-position: center -90px;
   background-repeat: no-repeat;
   transition: 1s;
}

.hero-content {
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding-left: 60px;
}

.hero-content__title {
   font-family: "Merriweather", serif;
   font-size: 60px;
   font-weight: 700;
   padding-bottom: 10px;
}

.hero-content__text {
   font-size: 20px;
   max-width: 475px;
   padding-bottom: 25px;
}

.btn {
   width: 220px;
   height: 55px;
   font-size: 20px;
   font-family: Inter;
   font-style: normal;
   font-weight: 400;
   color: var(--color-black);
   background-color: var(--color-gold);
   border: 0;
   cursor: pointer;
   transition: 0.3s;
}

.btn:hover {
   color: var(--color-primary);
}

.btn--border {
   color: var(--color-gold);
   background-color: var(--color-black);
   border: 2px solid var(--color-gold);
}

.section-title {
   width: 50%;
   height: 80px;
   font-family: "Merriweather", serif;
   font-size: 40px;
   color: var(--color-gold);
   margin: 100px auto 60px;
   text-align: center;
   font-weight: 700;
   background-image: linear-gradient(
      to top,
      var(--color-black) 39px,
      var(--color-gold) 39px,
      var(--color-gold) 41px,
      var(--color-black) 41px
   );
}

.section-title span {
   background-color: var(--color-black);
   padding: 20px;
}

.skills-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.skill-item {
   width: 320px;
   padding: 100px 20px 10px;
   background-repeat: no-repeat;
   background-position: center top;
}

.skill-item--camera {
   background-image: url("./assets/svg/camera.svg");
   background-size: 62px 50px;
}

.skill-item--video {
   background-image: url("./assets/svg/video.svg");
   background-size: 60px 50px;
}

.skill-item--image {
   background-image: url("./assets/svg/image.svg");
   background-size: 66px 50px;
}

.skill-item--mic {
   background-image: url("./assets/svg/mic.svg");
   background-size: 32px 50px;
}

.skill-item__title {
   text-align: center;
   font-size: 20px;
   font-weight: 700;
   padding-bottom: 20px;
}

.skill-item__text {
   line-height: 2;
   text-align: center;
   margin: 0 auto;
}

/* Portfolio-section */

.portfolio-btns {
   display: flex;
   gap: 5px;
   justify-content: center;
   align-items: center;
   padding-bottom: 60px;
}

.portfolio-items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 25px;
}

.portfolio__img {
   width: 450px;
   height: 560px;
   object-fit: cover;
}

/* Video-section */
.video-player {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 1400px;
   height: calc(46% + 60px);
   max-height: 705px;
}

.video-player__viewer {
   width: 100%;
   height: auto;
   border: 1px solid var(--color-gold);
   border-bottom: 0;
}

.play-btn {
   position: absolute;
   width: 150px;
   height: 150px;
   z-index: 3;
   background-image: url("./assets/svg/play-btn.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   cursor: pointer;
   transition: 1s;
}

.play-btn:hover {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
}

.video-player__poster {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 2;
   background-image: url("assets/img/video-bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   cursor: pointer;
   transition: 1s;
}

/* Price-section */
.price {
   padding-bottom: 60px;
}

.price-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.price-item {
   width: 450px;
   border: 3px solid var(--color-gold);
   padding: 40px;
   margin-bottom: 40px;
}

.price-title {
   font-family: "Merriweather", serif;
   font-size: 28px;
   text-align: center;
   margin-bottom: 20px;
}

.price-cost {
   font-family: "Merriweather", serif;
   font-size: 24px;
   font-weight: 700;
   text-align: center;
   color: var(--color-gold);
   margin-bottom: 20px;
}

.price-descripton {
   margin-bottom: 40px;
}

.price-descripton span {
   display: block;
   font-size: 18px;
   line-height: 2;
   text-align: center;
}

.price-btn {
   display: block;
   margin: 0 auto;
   transition: 0.3s;
}

/* Contacts-section */

.contacts {
   background-color: var(--color-black);
   color: var(--color-primary);
}

.contacts .container {
   min-height: 700px;
   padding-top: 60px;
   padding-right: 20px;
   background: url("./assets/img/contacts-bg.jpg");
   background-size: auto 700px;
   background-position: center center;
}

.contacts-container {
   width: 450px;
   margin-left: auto;
}

.contacts-title {
   min-height: 80px;
   margin-bottom: 40px;
   font-family: "Merriweather", serif;
   font-size: 40px;
   color: var(--color-gold);
   font-weight: 700;
}

input[type="email"],
input[type="tel"] {
   width: 450px;
   height: 50px;
   color: var(--color-gold);
   background-color: transparent;
   border: 2px solid var(--color-gold);
   margin-bottom: 20px;
   padding: 10px 20px;
   font-size: 20px;
   background-color: rgba(0, 0, 0, 0.5);
}

textarea {
   width: 450px;
   height: 100px;
   color: var(--color-gold);
   background-color: rgba(0, 0, 0, 0.5);
   border: 2px solid var(--color-gold);
   margin-bottom: 20px;
   resize: none;
   padding: 10px 20px;
   font-size: 20px;
}

::placeholder {
   font-family: inherit;
   color: var(--color-gold);
   font-size: 20px;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
   background-color: var(--color-black);
   color: var(--color-primary);
}

.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: calc(100% - 40px);
   max-width: 1440px;
   padding: 50px 20px;
}

.social-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   min-height: 50px;
}

.social-link {
   display: flex;
   align-items: flex-end;
}

.social-item {
   width: 32px;
   height: 32px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   transition: 0.3s;
}

.social-item:hover,
.social-item:active {
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
}

.icon {
   width: 30px;
   height: 30px;
   fill: var(--color-primary);
}

.icon:hover {
   fill: var(--color-gold);
}

.social-item a {
   display: block;
   width: 32px;
   height: 32px;
}

.footer-data {
   display: flex;
   align-items: center;
   min-height: 50px;
}

.copyright {
   padding-right: 20px;
   line-height: 50px;
}

.year {
   line-height: 50px;
}

.github-username,
.rss {
   color: var(--color-primary);
   text-decoration: none;
   padding: 0 20px;
   line-height: 50px;
   transition: 0.3s;
}

.github-username:hover,
.rss:hover {
   color: var(--color-gold);
}
